DOMAIN=localhost
STACK_NAME=outmate-stack

TRAEFIK_PUBLIC_NETWORK=traefik-public
TRAEFIK_TAG=outmate-traefik
TRAEFIK_PUBLIC_TAG=traefik-public


# Outmate backend configuration
OUTMATE_LOG_LEVEL=debug
OUTMATE_SUPERUSER=superuser
OUTMATE_SUPERUSER_PASSWORD=superuser
OUTMATE_NEW_USER_IS_ACTIVE=False


# Outmate frontend configuration
BACKEND_URL=http://backend:7860

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=outmate
RABBITMQ_DEFAULT_PASS=outmate

# Database configuration
DB_USER=outmate
DB_PASSWORD=outmate
DB_HOST=db
DB_PORT=5432
DB_NAME=outmate

# DB configuration
POSTGRES_USER=outmate
POSTGRES_PASSWORD=outmate
POSTGRES_DB=outmate
POSTGRES_PORT=5432

# Flower configuration
# Disable until https://github.com/outmate-ai/outmate/pull/2655 gets released
#OUTMATE_CACHE_TYPE=redis
OUTMATE_REDIS_HOST=result_backend
OUTMATE_REDIS_PORT=6379
OUTMATE_REDIS_DB=0
OUTMATE_REDIS_EXPIRE=3600
OUTMATE_REDIS_PASSWORD=
FLOWER_UNAUTHENTICATED_API=True
BROKER_URL=amqp://outmate:outmate@broker:5672
RESULT_BACKEND=redis://result_backend:6379/0
C_FORCE_ROOT="true"


# PGAdmin configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
